
/* Hex equations:
	http://www.calculatorsoup.com/calculators/geometry-plane/polygon.php
	Outer Radius (R) to Inner Radius (r)
	r = (1/2)a cot(π/n) = R cos(π/n)
	where a = side length and n = number of sides (6 for hex)
*/
.hex-grid {
	background-color: lightslategray;
}

.hex {
	width: 100px;
	height: 100px;
	position: absolute;
	-webkit-clip-path: polygon(50px 0, 92.3px 25px, 92.3px 75px, 50px 100px, 6.7px 75px, 6.7px 25px);
	-moz-clip-path: polygon(50px 0, 92.3px 25px, 92.3px 75px, 50px 100px, 6.7px 75px, 6.7px 25px);
	-ms-clip-path: polygon(50px 0, 92.3px 25px, 92.3px 75px, 50px 100px, 6.7px 75px, 6.7px 25px);
	-o-clip-path: polygon(50px 0, 92.3px 25px, 92.3px 75px, 50px 100px, 6.7px 75px, 6.7px 25px);
	clip-path: polygon(50px 0, 92.3px 25px, 92.3px 75px, 50px 100px, 6.7px 75px, 6.7px 25px);
	background-color: aliceblue;
	transition: background-color 0.2s linear;
	cursor: pointer;
}

.hex:hover {
	background-color: #F2EDD8;
}

.hex.odd {
	margin-left: -50px;
}